.game-board{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    
}

@media screen and (max-width:500px){
  
  .game-board{
    width: 60%;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }
  .card{
    max-width: 20vw;
  }
}