#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* custom */
/* Method of displaying a aria label as title on list, thanks internet */
ol:before{
  content:attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
}

.app{
  font-size: clamp(8px, 1.5vw, 15px);
  display: flex;
  flex-direction: column;
  gap:10px;
max-height: 100vh;

}
header{
  
  background-color: #888;
  h1{
    font-size: clamp(12px, 2.5vw, 30px);
  }
  h2{
    font-size: clamp(8px, 1.5vw, 20px);
  }
}
main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

}
.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  border: 1px solid #ccc;
  border-radius: 50px;
  gap: 10px;


}
.rules-and-scoreboard-container{
 display: flex;
 align-items: center;
 justify-content: space-around;
 border-bottom: 1px solid #ccc;

}
.rules-container{
  border-right:1px solid #ccc;
width: 50%;
padding: 5px;
}
.scoreboard{
width: 50%;
padding: 5px;
}
.gameBoard-container{
  display: flex;
  justify-content: center;
  width: clamp(500px, 55vw, 850px);
  padding: 20px;
}


footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #444;
  >.footer-contents>p{margin: 0;}
}
